/* CSS declarations go here */

.cfsaf-hidden {
  display: none !important;
}
.cfsaf-field {
  cursor: pointer !important;
}
.af-file-preview {
  width: 50%;
  display: block;
  border: 1px solid #ddd;
  padding: 4px;
  margin-bottom: 14px;
}
.input-cont {
  display: flex;
}
.af-remove-file {
  margin-right: 5px;
}
